/.gradle
/.idea
/alpha
/app/build
/app/app.iml
/build
/captures
/library/build
/library/library.iml
/online
/PhotoPicker/build
/PhotoPicker/PhotoPicker.iml
/lingcikey.jks
/lingxi-android.iml
/local.properties